<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/estilo.css">
    <title>Agregar Jueguito</title>    
</head>
<body>
    <h1>Agregar Jueguito</h1>

    <form method="POST">
        {{forma.csrf_token}}
        <p>
            {{forma.nombre.label}}<br/>
            {{forma.nombre(size=30)}}
        </p>
        
        <p>
            {{forma.descripcion.label}}<br/>
            {{forma.descripcion(size=30)}}
        </p>
        <p>
            {{forma.enviar()}}
        </p>
    </form>
</body>
</html>