<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/estilo.css">
    <title>Agregar jueguito</title>
</head>
<body>
    <h1>Listado de Videojuegos</h1>
    <div>
        <a href="{{url_for('appVideoJuego.agregar')}}">Agregar jueguito</a>
    </div>
    <div>
        <table id="customers" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for vj in videoj %}
                    <tr>
                        <td>{{vj.id}}</td>
                        <td>{{vj.nombre}}</td>
                        <td>{{vj.descripcion}}</td>
                        <td><a href="editar/{{vj.id}}">Editar</a></td>
                        <td><a href="eliminar/{{vj.id}}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>