<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/indexd.css">
</head>
<body>
    <h1>Listado de Vinos</h1>
    <div>
        <a href="{{url_for('appVinos.agregar')}}">Agregar Vinos</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Marca</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for vinos in Vinos%}
                <tr>
                    <td>{{vinos.id}}</td>
                    <td>{{vinos.Nombre}}</td>
                    <td>{{vinos.Precio}}</td>
                    <td>{{vinos.Marca}}</td>
                    <td><a href="detalled/{{vinos.id}}">Detalle</a></td>
                    <td><a href="editard/{{vinos.id}}">Editar</a></td>
                    <td><a href="eliminard/{{vinos.id}}">Eliminar</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>