<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista de categorias</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <br/>
    <a class="btnMio" href="{% url 'index' %}">Regresar</a>
    
    <div class="contenido">
        <h1>Sistema gestor de categorias</h1>

        <a href="nuevo_categoria" class="btnMio">Crear categoria</a>
        <table class="tablaMio" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{categoria.id}}</td>
                    <td>{{categoria.nombre}} {{categoria.apellido}}</td>
                    <td><a href="detalle_categoria/{{categoria.id}}" class="btnMio" style="background: rgba(59, 59, 196, 0.438);">Detalles</a></td>
                    <td><a href="editar_categoria/{{categoria.id}}" class="btnMio" style="background: rgba(88, 204, 88, 0.466);">Editar</a></td>
                    <td><a href="eliminar_categoria/{{categoria.id}}" class="btnMio" style="background: rgba(199, 77, 77, 0.452);">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table><br/>
    </div>
</body>
</html></html>